<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= @recipe.vegetarian %>
</p>

<p>
  <strong>Process:</strong>
  <%= @recipe.process %>
</p>

<p> Ingredients:</p>

	<% @recipe.ingredients.each do |ingredient| %>
     <%= link_to ingredient.name, ingredient_path(ingredient.id) %>
     <br>
  <% end %>

<p> Gadgets:</p>

  <% @recipe.gadgets.each do |gadget| %>
     <%= link_to gadget.name, gadget_path(gadget.id) %>
     <br>
  <% end %>

<p> Found in these cookbooks:</p>

	<% @recipe.cookbooks.each do |cookbook| %>
     <%= link_to cookbook.name, cookbook_path(cookbook.id) %>
     <br>
  <% end %>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
