<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Vegetarian:</strong>
  <%= @recipe.vegetarian %>
</p>

<p>
  <strong>Process:</strong>
  <ul>
    <li><%= @recipe.process %></li>
  </ul>
</p>

<p>
  <strong>Ingredients:</strong>
</p>

	<% @recipe.ingredients.each do |ingredient| %>
     <%= link_to ingredient.name, ingredient_path(ingredient.id) %>
     <br>
  <% end %>

<p>
  <strong>Gadgets:</strong>
</p>

  <% @recipe.gadgets.each do |gadget| %>
     <%= link_to gadget.name, gadget_path(gadget.id) %>
     <br>
  <% end %>

<p>
  <strong>Found in these cookbooks:</strong>
</p>
  <% @recipe.cookbooks.each do |cookbook| %>
     <%= link_to cookbook.name, cookbook_path(cookbook.id) %>
  
     <br>
  <% end %>
<br>
<br>
<br>
<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
