<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cookbook.name %>
</p>

<p> Recipes:<br>
	
	<% @cookbook.recipes.each do |recipe| %>
     <%= link_to recipe.name, recipe_path(recipe.id) %>
     <br>
  <% end %>

<br>

<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>
